<% debugger %>
<% if !current_user == topic.user %>
    <span class="favorite">
    <% if topic.iine?(current_user) %>
      <%= form_for(topic.favorites.find_by(user_id: current_user.id), method: :delete, remote: true) do |f| %>
        <%= button_tag do %>
          <%= image_tag '/icons/heart-red.png', class: 'topic-index-icon'%>
        <% end %>
      <% end %>
    <% else %>
      <%= form_for(topic.favorites.build, remote: true) do |f| %>
        <div><%= hidden_field_tag :topic_id, topic.id %></div>
        <%= button_tag do %>
          <%= image_tag '/icons/heart-black.png', class: 'topic-index-icon'%>
        <% end %>
      <% end %>
    <% end %>
    </span>
<% end %>
