<div class="topic-wrapper">
   <%= image_tag @topic.image.url, class: 'topic-image-in-comments'%>
   <!--吹き出しはじまり-->
   <div class="balloon1">
        <div class="faceicon">
           <%= image_tag @topic.user.image.url, class: 'user-image'%>
        </div>
        <div class="chatting">
           <div class="says">
             <p><%=@topic.description%></p>
           </div>
        </div>
   </div>
<!--吹き出し終わり-->
   <ul class="user-menus">
      <li>
         <%= link_to "編集", edit_topic_path(@topic, topic_id: @topic.id), style: "color: #8899a6" %>
      </li>
      <li>
         <%= link_to "削除", topic_path(@topic, topic_id: @topic.id), style: "color: #8899a6", data: {confirm: "本当に削除しますか？"}, method: :delete %>
      </li>
   </ul>
</div>

<div class="comments-index-wrapper">
   <!--大きさがない？？-->
   <%= image_tag '/icons/logo_in_comments.png', class: 'comments-index-logo'%>
   <div class="container">
      <% @comments.each do |comment| %>
         <div class="row">
            <div class="col-md-6 col-md-offset-3">
               <div class="comment-index-single">
                  <h2 class="comment-author">
                     <%= image_tag comment.user.image.url, class: 'comment-user-image'%>
                     <%= comment.user.name%>
                  </h2>
                  <p class="comment-text">
                     <%= comment.content %>
                  </p>
               </div>
            </div>
         </div>
      <% end %>

         <div class="form-wrapper comments-form">
            <%= form_for @comment do |f| %>
            <div class="form-group">
               <%= f.label :content %>
               <%= f.text_field :content, class: 'form-control' %>
               <%= f.hidden_field :topic_id, value: @topic.id %>
               <!-- 同じく大きさがない -->
            </div>

            <%= f.submit '投稿', class: 'btn btn-black btn-block' %>
            <% end %>
         </div>

   </div>
</div>
